/*Tomas Bond*/


/*comunes a todas las paginas*/
body{
    margin: 0px;
}

.linea {
    border-top: 1px solid #00c853;
    height: 2px;
    max-width: 500px;
    padding: 0;
    margin: 50px auto 0 auto;
}

@media(max-width: 750px){
    /*header*/
    .navbar-collapse{
        font-size: medium;
    }
    .logoImg{
        max-width: 100px !important;
    }
    .nav-link{
        font-size: medium !important;
    }



    /*Footer*/
    .divFooter{
        display: block !important;
        
    }

    .divFooter ul{
        padding-left: 50px;
        list-style: none;
    }

    
    .logoFooter{
        width: 100px !important;
        padding-left: 0px !important;
        justify-content: center;
        align-items: center;
    }

    .titulosLinks{
        font-size: large !important;
        margin-left: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .footerLinks{
        font-size: medium !important;
    }

    .footerDescrip{
        font-size: medium !important;
    }
    
    .socialIcons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 27px;
    }

    .documentosDescargables i{
        padding: 0px;
    }


    /*Aside*/
    aside{
        width: 100% !important;
        
    }

    .aside-flex{
        display: block !important;
    }
    
    .divAside{
        margin: 0px !important;
    }

    .divAside img{
        margin: 0;
        width: 30% !important;
        padding: 13px;
    }

    .divAside p{
        font-size: small;
        margin: 0px !important;
        padding:  0px 30px 15px;
    }



    /*empieza index*/
    /*Titulo principal y foto*/

    .divPrincipal{
        padding: 50px !important;
    }

    .tituloPrin{
        font-size: 36px !important;
    }
    
    .descripPrin{
        font-size: large !important;
    }

    .divPrincipal:before {
        background-color: rgba(0, 0, 0, 0.562) !important;
    }

    /*main*/

    main h2{
        margin: 30px 0px 15px;

    }

    main h3{
        margin: 30px 0px 15px;

    }

    .main-content img{
        width: 120px !important;
    }

    .articuloMain h2{
        padding-top: 50px !important;
    } 

    .articuloMain h3{
        font-size: medium !important;
        padding-top: 20px;
    }

    .articuloMain h4{
        font-size: small !important;
    }

    .articuloMain p{
        font-size: medium !important;
    }

    .articuloMain li {
    font-size: medium !important;
    }

    .fto-mano{
        width: 50px !important;
    }

    /*aqui empieza infogral.html*/
    .main-info{
        display: block !important;
    }

    .main-info img{
        width: 100% !important;
    }

    .articuloInfo{
        width: 100% !important;
    }

    .articuloInfo h2{
        margin-left: 30px;
    }
    
    /*aqui empieza detalle.html*/

    .articuloMainManada{
        display: block !important;
    }

    .articuloMainManada img{
        max-width: 100% !important;
        margin: 0px !important;
    }

    .content img{
        width: 100% !important;
    
    }

    /*detalle.html*/

    .divPrincipalManada{
        padding: 100px 100px !important;
    }

    .articuloMainManada img{
        width: 100% !important;
        
    }

    

}

/*header*/

.navbar{
    background-color: rgb(133, 44, 216);
}

.logoImg{
    max-width: 150px;
}

.navbar-collapse{
    justify-content: right;
    padding-right: 50px;
    font-size: xx-large;
}


/*Footer*/
footer{
    background-color: #00c853;
}
.divFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoFooter{
    width: 200px;
    padding-left: 50px;
}

.titulosLinks{
    font-size: 30px;
    margin-top: 15px;
}

.footerLinks{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.documentosDescargables li {
    list-style:none;
}
.documentosDescargables i {
    margin: 0px 10px 0px;
}

.socialIcons{
    padding-right: 50px;
}

.footerDescrip{
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.mt20{
    margin-top: 20px;
}

/*empieza index*/
/*Titulo principal y foto*/

.divPrincipal{
    background-image: url(../../templates/img/caminantes/WhatsApp\ Image\ 2022-04-13\ at\ 8.41.54\ PM.jpeg);
    padding: 400px 100px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.divPrincipal:before {
    content:'';
    position: absolute;
        top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.308);
}


.tituloPrin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex: 1;
    max-width: 100%;
    font-size: 60px;
    color: white;
    position: relative;

}

.descripPrin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex: 1;
    max-width: 100%;
    color: white;
    font-size: 30px;
    position: relative;
}

/*aside*/
aside{
    width: 1500px;
    background-color: rgb(56, 17, 94);
    font-size: 30px;
    color: white;
    font-style: italic;
}

.aside-flex{
    display: flex;
}


.divAside{
    margin: 10px;
    font-size: 25px;
}

.divAside img{
    margin: 0;
    width: 100%;
}
/*main*/

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-content h3{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 50px;

}

.articuloMain{
    width: 40%;
    font-size: 20px;
}

.articuloMain h3{
    text-decoration: none;
}

.articuloMain p{
    font-size: 30px
}

.articuloMain li {
    font-size: 30px;
}

/*aqui empieza infogral.html*/

.mainInfo h2{
    text-align: left;
}


/*Slider*/

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*aqui empieza detalle.html*/

.divPrincipalManada{
    background-image: url(img/manada/grande.jpg);
    padding: 400px 100px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.descripPrinManada{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex: 1;
    max-width: 100%;
    color: white;
    font-size: 30px;
    position: relative;
}


.divPrincipalManada:before {
    content:'';
    position: absolute;
        top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.308);
}

.descripManada{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}


.articuloMainManada{
    display: flex;
    margin: 30px;
    max-width: 100%;

}

.articuloMainManada img{
    max-width: 20%;
    margin: 30px;
}

.articuloMainManada p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex: 1;
    max-width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    background-color: rgba(148, 148, 148, 0.103);
}

.dirisFto{
    margin: 10px;
    max-width: 20%;
}

