/*Tomas Bond*/


/*comunes a todas las paginas*/
body{
    margin: 0px;
}

header{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.logo{
    width: 10%;
    padding: 15px;
}


.navitem{
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}



.tituloPrin{
    text-align: center;
    font-size: 60px;
}

/*main*/

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articuloMain{
    width: 40%;
    font-size: 20px;
    
}

aside{
    width: 1500px;
    background-color: blueviolet;
    font-size: 30px;
    color: white;
    font-style: italic;
}

.d-flex{
    display: flex;
}

.imgAside{
    text-align: center;
}

footer{
    background-color: green;
}